body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.sidebar a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.instagram-button{
    width: 5px;
    height: 5px;
    border-radius: 1%;
    object-fit: cover;
}

.instagram-button img {
    width: 24px;
    height: 24px;
}

.back-button {
    width: 100%;
    padding: 10px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.user-info {
    text-align: right;
}

.user-info h3 {
    margin: 0;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    margin-top: 0;
}

.overview {
    display: flex;
    flex-direction: column;
}

.overview p {
    margin: 10px 0;
}
